<table class="table table-striped">
  <tbody>

    <br />
    <% tasks.each do |task| %>
    <tr class="<%= 'success' unless task.completed %>">
      <td> <span class="label <%= 'label-success' if task.user %>"><%= task.user.try(:name) || 'unassigned'  %></span> </td>
      <td><strong><%= link_to task.title, task_path(task) %></strong><br>
        <%#= link_to task.content, task_path(task) %>
      </td>
      <td>
        <%= link_to "edit", edit_task_path(task) %>
        <%= link_to "comment", task_path(task) %>
      </td>
      <td> <%= pluralize task.comments.count, "comment" %></td>
    </tr> 
    <% end %>
  </tr>
</tbody>
</table>