<div class="span12">
  <%= search_form_for @search, url: dashboard_path do |f| %>
  <%= f.label :title_cont, "Find a Task" %>
  <%= f.text_field :title_cont, label: false %>
  <%= f.submit "Results", :class => "btn btn-primary" %>
<% end %>
</div>
  
  <div class="row-fluid">
    <br>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span5">
          <h2>Task Board</h2>
        </div>        
      </div>
     <div class="row-fluid">
    <div class="span5">
  </div>
</div>
<br>

<h2> Pending </h2>
<%= render 'task_table', tasks:  @pending_tasks %>
<h2> completed tasks </h2>
<%= render 'task_table', tasks: @completed_tasks %>

