<div class="navbar navbar-inverse navbar-fixed-top row-fluid header_bar main-theme">


  <div id="user_nav"> 

    
    <div class="nav-collapse collapse">
      <ul class="nav">
         <li>
          <a class="brand" href="/">LNF</a
        </li>
        
        <li>
          <a href="/dashboard">Tasks</a>
        </li>
  

        <% if current_user %>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, :id => 'sign_out', :method => :delete %>
          </li>
           <li>
            <%= link_to "update account", edit_user_registration_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li>or</li></li>
          <li>
            <%= link_to "sign in", new_user_session_path %>
          </li>
         
        <% end %>
      
      </ul>
      <%= link_to 'create a task', new_task_path, id: 'create-task', class: 'btn btn-primary post_job float-right' %>
    </div>
  </div>`
</div> 

